/* Navbar Starts Here */
@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/******* Common Element CSS Start ******/

* {
    box-sizing: border-box;
    margin: 0;
    line-height: normal;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --bg-black: #000000;
    --bg-l-black: #141414;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    background-color: #c9c9c9;
}

#navbar {
    width: 100%;
}

.navbar__container {
    display: block;
    background-color: #3f3f4d;
    padding: 0 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.navbar__flex {
    position: relative;
    width: 100%;
    max-width: 1140px;
    min-height: 75px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .navbar__left, .navbar__right {
    flex: 1 1 50%;
  } */

.navbar__hamburger {
    display: inline-block;
    width: 100px;
    height: 50px;
    /* background-color: #3f3f4d;
    color: white; */
    background: #3f3f4d url('https://res.cloudinary.com/ajayrawat/image/upload/v1508734485/logo_zdwi2d.svg') no-repeat;
    background-size: contain;
    margin-right: 15px;
    vertical-align: middle;
}

.navbar__search {
    display: inline-block;
}

.navbar__inputwithicon {
    position: relative;
    width: 300px;
}

.navbar__input {
    background-color: #34343f;
    border: 1px solid #34343f;
    width: 100%;
    height: 36px;
    border-radius: 18px;
    outline: none;
    padding: 0 30px 0 15px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #c0c7da;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}

.navbar__input:focus {
    border-color: white;
}

.navbar__button {
    position: absolute;
    top: 3px;
    right: 3px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    outline: none;
    border: none;
    background: #43cb83 url('https://res.cloudinary.com/ajayrawat/image/upload/v1508734484/search_icon_pr2sma.svg') no-repeat;
    background-size: 17px;
    background-position: center;
    cursor: pointer;
    transform: translate(0, 0);
    transition: background-color 0.2s linear;
    will-change: background-color;
}

.navbar__button:hover,
.navbar__button:focus {
    background-color: #32b46f;
}

.navbar__button:active {
    background-color: #2fac6a;
    transform: translateY(1px);
}

.navbar__toggler {
    display: none;
}

.navbar__links {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
}

.navbar__links li {
    position: relative;
    display: inline-block;
}

.navbar__links li:not(:last-child) a {
    padding: 0 15px;
}

.navbar__links li:last-child a {
    padding: 0 0 0 15px;
}

.navbar__links li a {
    display: block;
    color: #c0c7da;
    text-decoration: none;
    font-family: inherit;
    font-size: 14px;
    transition: color 200ms linear;
    will-change: color;
}

.navbar__links li a:hover,
.navbar__links li a:hover {
    color: white;
}

.navbar__hamberger {
    /*display: none;
   */
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #3f3f4d url('https://res.cloudinary.com/ajayrawat/image/upload/v1508734484/hamburger_icon_o7uviz.svg') no-repeat;
    background-size: contain;
    vertical-align: middle;
}

.navbar__toggler__label {
    display: none;
    font-family: inherit;
    font-size: 16px;
    color: white;
    text-align: right;
    user-select: none;
    cursor: pointer;
}

.navbar__toggler__input {
    appearance: none;
}

.navbar__sublinks {
    display: none;
    position: absolute;
    width: 175px;
    /* custom  */
    max-height: 400px;
    overflow-y: scroll;
    /* custom  */
    height: auto;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: #3f3f4d;
    box-shadow: 3px 5px rgba(0, 0, 0, 0.2);
}

.navbar__sublinks li {
    width: 100%;
    display: block;
    white-space: nowrap;
}

.navbar__sublinks li:first-child {
    margin-top: 20px;
}

.navbar__sublinks li a {
    display: block;
    padding: 5px 15px 15px !important;
}

.navbar__links li:hover .navbar__sublinks {
    display: block;
}

@media screen and (max-width: 1070px) {
    .navbar__flex {
        display: block;
        padding: 15px 0;
    }

    .navbar__left {
        margin-bottom: 15px;
    }

    .navbar__search {
        display: inline-block;
        width: calc(100% - 120px);
    }

    .navbar__inputwithicon {
        position: relative;
        width: 100%;
    }

    .navbar__links {
        float: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 600px;
        margin: 0 auto;
    }

    .navbar__links li:first-child a {
        padding-left: 0;
    }
}

@media screen and (max-width: 720px) {
    .navbar__hamburger {
        display: block;
        margin: 0 auto 15px;
    }

    .navbar__search {
        width: 100%;
    }

    .navbar__toggler__label {
        position: relative;
        display: block;
    }

    .navbar__toggler__input {
        display: block;
    }

    .navbar__toggler__input:checked+.navbar__links {
        display: flex;
    }

    .navbar__links {
        display: none;
        flex-direction: column;
    }

    .navbar__links li a {
        padding: 10px 10px 10px 0 !important;
    }

    .navbar__sublinks {
        display: block;
        position: static;
        box-shadow: none;
        width: 100%;
        padding-left: 15px;
        background-color: #34343f;
    }

    .navbar__sublinks li:first-child {
        margin-top: 0;
    }
}

/* Navbar Ends Here ? */


/* Carousel Main Starts Here  */
/* -------- title style ------- */
.line-title {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    position: relative;
    text-transform: capitalize;
    position: relative;
    width: 400px;
}

/* -------- Landing page ------- */
.ongoing-section {
    padding: 20px 50px;
}

.ongoing-section .owl-stage {
    margin: 15px 0;
    display: flex;
    display: -webkit-flex;
}

.ongoing-section .item {
    margin: 0 15px 60px;
    width: 320px;
    height: 400px;
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    background: #343434 no-repeat center center / cover;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.ongoing-section .item.active {
    width: 500px;
    box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}

.ongoing-section .item:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.ongoing-section .item-desc {
    padding: 0 24px 12px;
    color: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transform: translateY(calc(100% - 54px));
    -webkit-transform: translateY(calc(100% - 54px));
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.ongoing-section .item.active .item-desc {
    transform: none;
    -webkit-transform: none;
}

.ongoing-section .item-desc p {
    opacity: 0;
    -webkit-transform: translateY(32px);
    transform: translateY(32px);
    transition: all 0.4s ease-in-out 0.2s;
    -webkit-transition: all 0.4s ease-in-out 0.2s;
}

.ongoing-section .item.active .item-desc p {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.ongoing-section .owl-theme.custom-carousel .owl-dots {
    margin-top: -20px;
    position: relative;
    z-index: 5;
}

.ongoing-link {
    margin: 0 0 10px;
    font-size: 28px;
    line-height: 36px;
}

/******** Middle section CSS End *******/

/***** responsive css Start ******/
@media (min-width: 992px) and (max-width: 1199px) {
    .line-title {
        margin-bottom: 32px;
    }

    .ongoing-link {
        margin: 0 0 8px;
        font-size: 24px;
        line-height: 32px;
    }

    /* -------- Landing page ------- */
    .ongoing-section {
        padding: 50px 30px;
    }

    .ongoing-section .item {
        margin: 0 12px 60px;
        width: 260px;
        height: 360px;
    }

    .ongoing-section .item.active {
        width: 400px;
    }

    .ongoing-section .item-desc {
        transform: translateY(calc(100% - 46px));
        -webkit-transform: translateY(calc(100% - 46px));
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .line-title {
        margin-bottom: 32px;
    }

    .ongoing-link {
        margin: 0 0 8px;
        font-size: 24px;
        line-height: 32px;
    }

    .line-title {
        width: 330px;
    }

    /* -------- Landing page ------- */
    .ongoing-section {
        padding: 50px 30px 40px;
    }

    .ongoing-section .item {
        margin: 0 12px 60px;
        width: 240px;
        height: 330px;
    }

    .ongoing-section .item.active {
        width: 360px;
    }

    .ongoing-section .item-desc {
        transform: translateY(calc(100% - 42px));
        -webkit-transform: translateY(calc(100% - 42px));
    }
}

@media (max-width: 767px) {
    .ongoing-about {
        font-size: 14px;
    }

    .line-title {
        margin-bottom: 20px;
    }

    .ongoing-link {
        margin: 0 0 8px;
        font-size: 19px;
        line-height: 24px;
    }

    .line-title {
        width: 250px;
    }

    /* -------- Landing page ------- */
    .ongoing-section {
        padding: 30px 15px 20px;
    }

    .ongoing-section .item {
        margin: 0 10px 40px;
        width: 200px;
        height: 280px;
    }

    .ongoing-section .item.active {
        width: 270px;
        box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    }

    .ongoing-section .item-desc {
        padding: 0 14px 5px;
        transform: translateY(calc(100% - 42px));
        -webkit-transform: translateY(calc(100% - 42px));
    }
}

/* Caousel Main Ends Here  */


/* Main Card Starts */
.view-more-content {
    /* border-top: 1px solid rgba(53, 53, 53, 0.1);
    border-bottom: 1px solid rgba(53, 53, 53, 0.1); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.latest-heading {
    margin: 10px 20px 10px 30px;
    font-weight: 500;
    font-size: 1.3rem;
}

.view-more {
    margin: 10px 20px 10px 30px;
    color: black;
    border: none;
    cursor: pointer;
    transition: color 0.4s ease;
    /* background-color: white; */
    /* transition: text-decoration 0.3s ease-in-out; */
    /* padding: 5px; */
    /* font-weight: bold; */
}

.view-more:hover {
    color: red;
}

/* .card-background{
    background-color: #ffffff;
} */

.latest-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    margin: 20px 10px;
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    background-color: #ffffff;
}

.latest-b-img {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 230px;
    overflow: hidden;
}

.latest-b-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.latest-b-img img:hover {
    transform: scale(1.1);
    /* filter: brightness(60%); */
}

.sub-dub {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    padding-top: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.sub {
    padding: 5px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
}

.dub {
    padding: 5px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
}

.latest-b-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin: 10px; */
    padding: 10px;
    height: 80px;
}

.latest-b-text strong {
    color: #3a3a3a;
    height: 36px;
    margin: 0px;
    transition: color 0.5s ease, text-shadow 0.3s ease;
}

.latest-b-text strong:hover {
    color: red;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.latest-b-text p {
    color: #979797;
    margin: 0px;
}

@media(max-width:680px) {

    .showcase-heading {
        padding-left: 10px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 1rem;
        color: #1a1a1a;
    }

    .showcase-box {
        max-width: 300px;
        height: 200px;
        margin: 10px;
    }

    .latest-box {
        width: 180px;
        margin: 20px 5px;
    }

    .latest-b-img {
        height: 200px;
    }

    .latest-b-text strong {
        color: #3a3a3a;
        height: 40px;
        font-size: 0.8em;
        margin: 0px;
    }

    .latest-b-text p {
        color: #979797;
        padding-top: 8px;
        font-size: 0.8em;
        margin: 0px;
    }
}

@media(max-width:440px) {
    .showcase-box {
        max-width: 280px;
        height: 200px;
        margin: 10px;
    }

    .latest-heading {
        margin: 10px 0px 10px 5px;
        font-weight: 500;
        font-size: 1rem;
    }

    .view-more {
        margin: 10px 5px 10px 0px;
    }

    .latest-box {
        width: 150px;
        margin: 20px 5px;
    }

    .latest-b-img {
        height: 180px;
    }
}

/* Main Card Ends */